<div class = "container">
    <div class="wrapper">
        <div class="alert alert-danger" ng-show="errlogin">Nu e bun useru</div>
        <form name="Login_Form" class="form-signin">
            <h3 class="form-signin-heading">Welcome Assist! <br /> Please Sign In</h3>
            <hr class="colorgraph"><br>

            <input ng-model="formData.username" type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
            <input ng-model="formData.password" type="password" class="form-control" name="Password" placeholder="Password" required=""/>

            <button ng-click="loginProcess(username, password)" class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
        </form>

        <pre>
            {{ formData }}
            {{makelogin.success}}
        </pre>
    </div>
</div>