<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h4>First Name:{{userData.firstName}} </br> Last Name: {{userData.lastName}}</h4>
            </div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Created At</th>
                        <th>Last Login</th>
                        <th>Updated At</th>
                        <th>Role</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{userData.id}}</td>
                            <td>{{userData.firstName}}</td>
                            <td>{{userData.lastName}}</td>
                            <td>{{userData.email}}</td>
                            <td>{{userData.createdAt}}</td>
                            <td>{{userData.last_login}}</td>
                            <td>{{userData.updatedAt}}</td>
                            <td>{{userData.role}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>