<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >Hubba Buba</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref ="home">Home </a></li>
                <li><a ui-sref ="add-user">Add User</a></li>
                <li><a ui-sref ="user-grid">User Grid</a></li>
                <li><a ui-sref="user-profile">User Profile</a></li>
            </ul>
<<<<<<< HEAD
            <ul class="nav navbar-nav pull-right">
                <li><a ui-sref="user-logout">Log Out</a></li>
=======

            <ul class="nav navbar-nav pull-right">
                <li><a ui-sref = "user-logout">Logout</a></li>
>>>>>>> andrei
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>